html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    text-align: center;
    background-color: #eee;
    color: #222;
}

#albums {
    padding-top: 50px;
}

#galleria {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
}

.thumbnail {
    padding: 20px;
}

.galleria-exit {
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    color: #aaa;
    font-size: 20pt;
    transition: color 0.1s;
    z-index: 1;
}

.galleria-exit:hover {
    color: #fff;
}

#loader {
    background: #000;
    width: 64px;
    height: 64px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    background: url(../img/loader.png) no-repeat;
}

/* Al empezar todas las secciones están ocultas */
.section {
    display: none;
}

footer {
    padding: 15px;
}

.article-section {
    text-align: left;
}

.workshop-section {
    text-align: left;
}

hr {
    border-top: 1px solid #ccc;
}
